.gradle
build
.env
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace
.classpath
.project
.settings/
.DS_Store
Thumbs.db
out/
bin/
.fleet/
.sonarlint/
.scannerwork/
.trae/
.history/
*.swp
*.swo
*~
.nvimlog
desktop.ini
